<tr><th><label for="id_name">Name:</label></th>
    <td><input type="text" name="name" maxlength="100" required id="id_name"></td></tr>
    
<tr><th><label for="id_cost">Cost:</label></th>
    <td><input type="number" name="cost" required id="id_cost"></td></tr>

<tr><th><label for="id_stock">Stock:</label></th>
    <td><input type="number" name="stock" required id="id_stock"></td></tr>

<tr><th><label for="id_discount">Discount:</label></th>
    <td><select name="discount" required id="id_discount">
  <option value="" selected>---------</option>

  <option value="yes">yes</option>

  <option value="no">no</option>

</select></td></tr>